<md-sidenav-container class="bds-sidenav-viewer-container">
  <md-sidenav #sidenav mode="over" fxLayoutAlign="start stretch" fxLayout="column" class="bds-sidenav-viewer container">
    <div fxLayout="column" class="bds-sidenav-header">
      <div class="bds-sidenav-header-logo">
        <img src="../../../assets/img/brand/logo-bullesdeSoi-DP500.png" alt="logo" >
      </div>

      <h2 class="bds-sidenav-header-title">Bulles de Soi</h2>
    </div>

    <!--TODO: Faire un component de la liste-->
    <div fxLayout="column" class="bds-sidenav-nav" fxFlexFill>
      <button md-button [routerLink]="['/signup']">Signup</button>
      <button md-button [routerLink]="['/signin']">Signin</button>
      <ul>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
      </ul>
    </div>
  </md-sidenav>
  <bds-header (toggleSidenav)="sidenav.toggle()"></bds-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" class="bds-sidenav-content" fxFlexFill>
    <router-outlet></router-outlet>
    <bds-footer></bds-footer>
  </div>
</md-sidenav-container>
