<div fxLayout="row" fxLayout.xs="column">
  <form>
    <md-input-container fxFlex="100">
      <input mdInput placeholder="email" type="email">
    </md-input-container>
    <div fxFlex="100">
      <md-input-container fxFlex="50">
      <input mdInput placeholder="Prénom" type="text">
    </md-input-container>
    <md-input-container fxFlex="50">
      <input mdInput placeholder="Nom" type="text">
    </md-input-container>
    </div>
    <div fxFlex="100">
      <md-input-container fxFlex="100">
      <input mdInput placeholder="Téléphone" type="text">
    </md-input-container>
    </div>
    <md-input-container fxFlex="100">
      <input mdInput placeholder="password" type="text">
    </md-input-container>
  </form>
</div>
