@import '~@angular/material/_theming.scss';
@import './_app-theme.scss';

// Ajout material core styles
@include mat-core();

// Définition du dark theme
$primary: mat-palette($mat-deep-purple, 700, A100, 900);
$accent:  mat-palette($mat-lime, 500, A100, 600);
$warn:  mat-palette($mat-pink, A100, 50, A700);
$background: mat-palette($mat-grey, 700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// Ajout des themes components
@include bds-sidenav-viewer-theme($theme);

html, body, bds-root {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.md-display-1 {
  font-family: 'Roboto', regular;
  font-size: 34px;
}

.bds-display-header {
  font-family: "Marck Script", cursive;
  font-weight: 400;
}

body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

